name: asl_app
description: ASL Flutter project.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 0.0.1+1

environment:
  sdk: ^3.1.1

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.11.0
  tflite: ^2.0.0
  provider: ^6.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  assets:
    - assets/model.tflite
    - assets/labels.txt
  uses-material-design: true
